<h3>Please give your deck a name:</h3>

<form action="/decks/create" method="POST">
  <label for"title">Title:</label><br>
  <input type="text" name="deck[title]" id="title"><br>
  <input type="text" name="deck[user_id]" value= "<%=@user_id%>" class="invisible">
  <br><input type="submit" value="submit">
</form>
