<h3>Choose a deck to edit:</h3>
<ul>
<% @decks.each do |deck| %>
  <li><a class="edit" href="/decks/edit/<%=deck.id%>"><%= deck.title %></a><div class="edit_links"></div></li>
<% end %>
</ul>

<div class="bottom">
  <a href="/">Home</a><br>
</div>
