<h1 class="slide">Get funky with flashcards</h1>
<h2><%=@message%><h2>
  <%@decks.each do |deck|%>
        <a href='/round/<%=deck.id%>' class="deck_link"><div class="deck"><%=deck.title%></div></a>
  <%end%>

<div class="bottom">
  <a href="/">Home</a>
  <% unless @message %>
    <%unless @my_decks %>
      <a href="/user/decks">View My Decks</a>
    <%else%>
      <a href="/decks/edit">Edit decks</a>
    <%end%>
  <%end%>
  <a href="/decks/create">Create Deck</a>
</div>

<script type="text/javascript">
  $('.deck_link').on('click', function(){
    console.log("clicked");
    $(this).siblings().hide('slow');   
  });


</script>