<div class ="left_container">
  <%unless @user %>
    <h1  class="title">Learn fast. Learn fresh. Learn funky.</h1>
    <% if  session[:status] == "logged in" %>
      <p> Welcome, user # <%= session[:user_id] %> </p>
    <% end %>
    <br><br>

    <form action="/user/login" method="get">
      <label for="user_name">Username:</label><br>
      <input type="text" name="user[user_name]" id="user_name" autofocus><br>
      <label for="password">Password:</label><br>
      <input type="password" name="user[password]" id="password"><br>
      <input type="submit" value="submit" class="submit">
    </form><br><br>
    <div class="bottom">
      <a href="/user/create" class ="sign_up">Sign Up</a>
    </div>
  <%else%>
    <div class="bottom">
      <h1 class="title"><%=@user.user_name%>, are you ready for some funky fun?!</h1>
      <a href ="/decks">Available decks</a>
      <a href ="/user/profile">Profile</a>
      <a href="/decks/create">Create Deck</a>
    </div>
  <%end%>
</div>

<script type="text/javascript">
  // $('.title').show('slow');
</script>



