<h1>Welcome to the Flashcard App. We will put more exciting text in later.</h1>
<p>You need to sign in</p>
<br><br>

<form action="/user/login/" method="get">
  <label for="user_name">Username:</label><br>
  <input type="text" name="user[user_name]" id="user_name"><br>
  <label for="password">Password:</label><br>
  <input type="password" name="user[password]" id="password"><br>

  <input type="submit" value="submit">

</form><br><br>

<a href="/sign_up">Sign Up</a>



