<h1><%= session[:deck_title]%></h1>

<div class='slide'>


  <%if session[:previous_answer]%>
    <p>You got the last one right!</p>
  <%elsif session[:previous_answer] == false%>
    <p>You got the last one wrong!</p>
  <%end%>




<%unless @card%>
  <p>That was your last question!!!!</p>
  <a id="view_stats" style="" href="/round/stats">See Your Game Stats</a>
<%else%>
  <h3 class="center">Question:</h3>
  <p class="center"><%= @card.question%></p>
  <form id ="question" action = '/card/answer/<%=@card.id%>' method="post">
    <label for="answer">Answer:</label><br>
    <input type="text" name="answer" id="answer">
    <input type="text" name="correct" value="<%=@card.answer%>" class="invisible">
    <p class="submit">
      <input type="submit" value="submit">
    </p>
  </form>

</div>

<%end%>

