
<h1>These are your stats:</h1>
<h3>Correct answers: <%=@round.guesses.where(correct?: true).count%> !</h3>

<h3>Wrong answers: <%=@round.guesses.where(correct?: false).count%> !</h3>

<p> Not too bad for a rookie</p>
<div class="bottom">
  <a href="/">Home</a>
  <a href = "/user/profile">All stats</a>
</div>
